.container{
    display: flex;
    flex-direction: row-reverse;
    background-color: blueviolet;
    height: 200px;
    align-items: stretch;
    flex-wrap: ;
}

.div1{
    background-color: aqua;
    flex-grow: 2;
    height: 100px;
}

.div2{
    background-color: blue;
    flex-grow: 4;
    height: 100px;
    align-self: end;
}

.div3{
    background-color: chocolate;
    flex-grow: 2;
    height: 100px;
    align-items: flex-start;
}