*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w50 a img{
    width: 10%; 
    height: 10%;
}

.w50{
    width: 50%;
}

header{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    background-color: cadetblue;
    align-items: center;
}

header nav{
    display: flex;
    gap: 50px;
}

.banner img{
    width: 100%;
}

.container{
    padding: 0% 7% 0% 12%;
}