@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Namdhinggo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(122, 241, 216), rgb(198, 198, 241));
    min-height: 100vh;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    
}


h1{
    color: black;
    font-family: "Dancing Script", cursive;
    text-align: center;
    align-items: center;
}

h2{
    color: black;
    text-align: center;
    align-items: center;
    align-items: stretch;
}


thead{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

tbody{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

tr > td{
    padding: 0px 50px 0 12px
}